<!-- your html code here -->
<div class="p-5">
  <h1>Contact</h1>
  <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
  <form action="">
    <div class="container">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..."
          rows="3"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>