<!-- your html code here -->
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row my-5">
    <div class="col-md-7 offset-md-1 py-5">
        <h1>This First Heading Wil Catch Your Eye</h1>
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
    </div>
    <div class="col-md-3">
        <img src="assets/img/1.jpg" class="rounded-circle img-fluid" alt="...">
    </div>
</div>

