<!-- your html code here -->

<!-- Related Projects Row -->
<div class="row">
    <div class="col-md-10 offset-md-1 py-5">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Porfolio</h1>
                <p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                    ha sido
                    el
                    texto de relleno estándar de las industrias desde el año 1500 Lorem Ipsum es simplemente el texto de
                    relleno de las imprentas y archivos de texto. Lorem Ipsum
                    ha sido
                    el
                    texto de relleno estándar de las industrias desde el año 1500</p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                            archivos de
                            texto
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                            archivos de
                            texto
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                            archivos de
                            texto
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>