<!-- your html code here -->
<div class="row">
    <div class="col-md-3 offset-md-1 py-5">
        <img src="assets/img/2.jpg" class="rounded-circle" alt="...">
    </div>
    <div class="col-md-7">
        <h1>This First Heading Wil Catch Your Eye</h1>
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
    </div>
</div>
